# `e` with no arguments opens the current directory in Sublime Text, otherwise
# opens the given location
function e() {
	if [ $# -eq 0 ]; then
		subl .;
	else
		subl "$@";
	fi;
}

# `s` with no arguments cds into ~/src directory, otherwise opens the given subdir
function s() {
	if [ $# -eq 0 ]; then
		cd ~/src;
	else
		cd ~/src/"$@";
	fi;
}

# node command with ./lib in NODE_PATH
lode() {
  NODE_PATH=./lib node $*
}

# nodemon command with ./lib in NODE_PATH
lodemon() {
  NODE_PATH=./lib nodemon $*
}

# empty commit as todo
todo() {
  git commit --allow-empty -m "TODO: $*"
}

# turn movie into gif
# thankx SlexAxton https://gist.github.com/SlexAxton/4989674
gifify() {
  if [[ -n "$1" ]]; then
    if [[ $2 == '--good' ]]; then
      ffmpeg -i $1 -r 10 -vcodec png out-static-%05d.png
      time convert -verbose +dither -layers Optimize -resize 600x600\> out-static*.png  GIF:- | gifsicle --colors 128 --delay=5 --loop --optimize=3 --multifile - > $1.gif
      rm out-static*.png
    else
      ffmpeg -i $1 -s 600x400 -pix_fmt rgb24 -r 10 -f gif - | gifsicle --optimize=3 --delay=3 > $1.gif
    fi
  else
    echo "proper usage: gifify <input_movie.mov>. You DO need to include extension."
  fi
}